button {
  display: flex;
  background: transparent;
  border: none;
  padding: 0 .7rem .5rem .5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  height: 40px;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 38px;
    z-index: -1;
    right: 0px;
    top: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all ease .2s;
  }
  &:hover, &.active {
    &::before {
      background: var(--white);
    }
  }
}